<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <% if @user.avatar.url %>
            <%= image_tag @user.avatar.url, size: 50%>
          <% else %>
            <%= image_tag 'default_user.png', size: 50%>
          <% end %>
            <%= @user.name %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="button">
      <%= render 'users/follow_form' if user_signed_in? %>
      </section>
      <section>
      <%= month_calendar do |date| %>
          <%= link_to (date.day).to_s+"日", root_path(date: date) %>
      <% end %>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @tasks.any? %>
        <h2 class="m-5">今日のタスク</h2>
        <%= render 'shared/show_tasks' %>
      <% else %>
        <h2 class="m-5">今日はまだ作業していません</h2>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render 'layouts/home' %>
<% end %>
