<div class="foo-font">
  <h1>アカウント作成</h1>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="foo-font container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="field">
          <%= f.label :name, '1.名前'%><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
        <div class="field">
          <%= f.label :email, '2.Eメール' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
        </div>
        <div class="field">
          <%= f.label :password, '3.パスワード' %>
          <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, '4.パスワード（確認用）' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password"%>
        </div>
        <div class="field">
          <%= f.label :avatar, '5.アイコン' %>
          <%= f.file_field :avatar %>
        </div>
        <div class="field">
          <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
        </div>
        <hr class="divider" />
        <div class = "field">
          <%= link_to "ログイン", new_session_path(resource_name) %>
        </div>
        <div class = "field">
          <%= link_to 'ゲストログイン（閲覧用)', static_pages_guest_sign_in_path, method: :post , class: "btn btn-warning"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
