<div class="foo-font">
  <h1>アカウント作成</h1>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="foo-font">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="field">
    <%= f.label :name, '1.名前'%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "佐藤太郎" %>
  </div>

  <div class="field">
    <%= f.label :email, '2.Eメール' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "taro@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password, '3.パスワード' %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '4.パスワード（確認用）' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password"%>
  </div>
  <div class="actions">
    <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
