<li class="foo-font">
  <% if user.avatar.url %>
    <%= image_tag user.avatar.url, size: 50%>
  <% else %>
    <%= image_tag 'default_user.png', size: 50%>
  <% end %>
  <%= link_to user.name, user%>
  <% if user.total_task_time > 0 %>
    <p>
      <%= user.task_hours %> 時間
      <%= user.task_minutes %>分作業しました
    </p>
  <% else %>
    <p>今日はまだ作業していません</p>
  <% end %>
</li>
