<% provide(:title, 'All users') %>
<h1>ユーザー検索</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= search_form_for @q, url: search_users_path do |f| %>
          <%= f.label :name_cont, 'ユーザー名' %>
          <%= f.search_field :name_cont %>
          <%= f.submit '検索' %>
      <% end %>
  </div>
</div>



<ul class="users">
  <% @users.each.with_index(1) do |user,i| %>
    <li>
      <div class="col-md-1">
      <% if (params[:page]).to_i <= 1 %>
        <% if i == 1 %>
          <%= image_tag 'first.png' %>
        <% elsif i == 2 %>
          <%= image_tag 'second.png' %>
        <% elsif i == 3 %>
          <%= image_tag 'third.png' %>
        <% else %>
          <p><%= i %>位</p>
        <% end %>
      <% else %>
          <p><%= 30*(params[:page]).to_i-30+i %>位</p>
      <% end %>
      </div>
      <div class="col-md-3">
        <% if user.avatar.url %>
          <%= image_tag user.avatar.url, size: 50%>
        <% else %>
          <%= image_tag 'default_user.png', size: 50%>
        <% end %>
        <%= link_to user.name, user %>
      </div>
      <div class="col-md-4">
        <% if user.tasks.to_a.map{ |task| task.set_number * task.task_time }.sum > 0 %>
          <p>
          <%= user.tasks.to_a.map{ |task| task.set_number * task.task_time }.sum/60 %> 時間
          <%= ((user.tasks.to_a.map{ |task| task.set_number * task.task_time }.sum/60.to_f-user.tasks.to_a.map{ |task| task.set_number * task.task_time }.sum/60) * 60).round  %>分作業しました
          </p>
        <% else %>
          <p>今日はまだ作業していません</p>
        <% end %>
      </div>
    <div class="col-md-4">
    <% unless current_user?(user) %>
        <% if current_user.following?(user) %>
          <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),
                        html: { method: :delete }, local: true) do |f| %>
          <%= f.submit "フォロー解除", class: "btn btn-secondary" %>
          <% end %>
        <% else %>
        <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
                <div><%= hidden_field_tag :followed_id, user.id %></div>
                <%= f.submit "フォロー", class: "btn btn-primary" %>
          <% end %>
        <% end %>
    </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
