<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="button">
    <%= render 'follow_form' if user_signed_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="m-5">
      <%= pie_chart @user.tasks.to_a.group_by(&:name).map { |name, tasks| [name, tasks.map { |task| task.set_number * task.task_time }.sum]}%>
    </div>
    <div class="m-5">
      <% @user.tasks.each do |task| %>
        <li class='tasks'>
          <p><%= task.name %></p>
          <p><%= task.task_time %>分</p>
          <p><%= task.set_number %>セット</p>
          <p>合計<%= task.task_time * task.set_number %>分</p>
        </li>
      <% end %>
    </div>
  </div>
</div>
